.ranking1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://i.imgur.com/udVIeVX.png');
}
.ranking1-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.ranking1-navlink {
  display: contents;
}
.ranking1-image {
  height: 2rem;
  text-decoration: none;
}
.ranking1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.ranking1-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ranking1-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  text-decoration: none;
}
.ranking1-navlink02 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ranking1-navlink03 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ranking1-navlink04 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ranking1-navlink05 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ranking1-link {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ranking1-burger-menu {
  display: none;
}
.ranking1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.ranking1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.ranking1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ranking1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.ranking1-logo {
  height: 2rem;
}
.ranking1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranking1-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.ranking1-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ranking1-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.ranking1-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.ranking1-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.ranking1-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.ranking1-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.ranking1-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.ranking1-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.ranking1-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.ranking1-text {
  color: var(--dl-color-gray-900);
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: capitalize;
}
.ranking1-container2 {
  width: 100%;
  height: auto;
  display: flex;
  opacity: 0.6;
  position: relative;
  align-items: center;
  justify-content: center;
}
.ranking1-container3 {
  top: var(--dl-space-space-unit);
  flex: 1;
  left: -Infinitypx;
  position: absolute;
  align-self: flex-start;
}
.ranking1-container4 {
  display: contents;
}
@media(max-width: 1200px) {
  .ranking1-container {
    border-width: 0px;
  }
  .ranking1-navlink01 {
    font-family: Roboto;
  }
  .ranking1-navlink02 {
    font-family: Roboto;
  }
  .ranking1-navlink03 {
    font-family: Roboto;
  }
  .ranking1-navlink04 {
    font-family: Roboto;
  }
  .ranking1-navlink05 {
    font-family: Roboto;
  }
  .ranking1-link {
    font-family: Roboto;
  }
}
@media(max-width: 767px) {
  .ranking1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ranking1-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .ranking1-mobile-menu {
    background-color: #161616;
  }
  .ranking1-navlink06 {
    color: var(--dl-color-gray-white);
    margin-bottom: var(--dl-space-space-unit);
  }
  .ranking1-navlink07 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ranking1-navlink08 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ranking1-navlink09 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ranking1-navlink10 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ranking1-link1 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .ranking1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .ranking1-desktop-menu {
    display: none;
  }
  .ranking1-burger-menu {
    display: flex;
  }
  .ranking1-mobile-menu {
    padding: 16px;
    background-color: #161616;
  }
  .ranking1-logo {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .ranking1-navlink06 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .ranking1-navlink07 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .ranking1-navlink08 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .ranking1-navlink09 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .ranking1-navlink10 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .ranking1-link1 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .ranking1-container2 {
    height: 1500px;
    padding-bottom: 0px;
  }
}
