.servers-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://media.discordapp.net/attachments/1061100310724104192/1177001408688574545/def.webp?ex=6570eafb&is=655e75fb&hm=12c05cb2094b7a9a6734a6d79657abe60c24d1efbc34972a1915a859d26cc9b2&=&format=webp');
}
.servers-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.servers-navlink {
  display: contents;
}
.servers-image {
  height: 2rem;
  text-decoration: none;
}
.servers-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.servers-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.servers-navlink01 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  text-decoration: none;
}
.servers-navlink02 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.servers-navlink03 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.servers-navlink04 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.servers-link {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.servers-burger-menu {
  display: none;
}
.servers-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.servers-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.servers-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.servers-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.servers-logo {
  height: 2rem;
}
.servers-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.servers-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.servers-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.servers-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.servers-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.servers-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.servers-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.servers-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.servers-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.servers-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
@media(max-width: 1200px) {
  .servers-navlink01 {
    font-family: Roboto;
  }
  .servers-navlink02 {
    font-family: Roboto;
  }
  .servers-navlink03 {
    font-family: Roboto;
  }
  .servers-navlink04 {
    font-family: Roboto;
  }
  .servers-link {
    font-family: Roboto;
  }
}
@media(max-width: 767px) {
  .servers-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .servers-desktop-menu {
    display: none;
  }
  .servers-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .servers-mobile-menu {
    background-color: #161616;
  }
  .servers-navlink05 {
    color: var(--dl-color-gray-white);
    margin-bottom: var(--dl-space-space-unit);
  }
  .servers-navlink06 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .servers-navlink07 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .servers-navlink08 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .servers-navlink09 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .servers-link1 {
    color: var(--dl-color-gray-white);
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .servers-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .servers-mobile-menu {
    padding: 16px;
    background-color: #161616;
  }
  .servers-logo {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .servers-navlink05 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .servers-navlink06 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .servers-navlink07 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .servers-navlink08 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .servers-navlink09 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .servers-link1 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
}
